@use "./variables" as *;
@use "./utility_selector" as *;

#app_footer {
    background-color: $clr_footer;
    color: $clr_total_light;

    .top_footer.my_background {
        background-image: url(../img/footer-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 370px;

        .info_top_footer {
            height: 100%;


            ul li {
                list-style: none;
                font-family: 'Roboto', sans-serif;
                color: $clr_pale_light;
                font-weight: 300;
            }



            .img_container {
                height: 100%;
                background-repeat: no-repeat;
                background-position: right;
                background-image: url(../img/dc-logo-bg.png);


            }
        }
    }



    .bottom_footer {
        height: 115px;
    }
}