@use "./variables" as *;

// General selector 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


#app_main {
    background-color: $clr_primary;
    height: 115px;
}