@use "./variables" as *;


#app_main {
    background-color: $clr_primary;

    .main_content {
        height: 115px;
    }

    .extra_options {
        background-color: $clr_extra_options;
        height: 150px;
    }
}